<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="config/jdbc.properties"/>

  <mappers>
    <mapper resource="mapper/MemberMapper.xml"/>
    <mapper resource="mapper/AssignmentMapper.xml"/>
    <mapper resource="mapper/BoardMapper.xml"/>
    <mapper resource="mapper/AttachedFileMapper.xml"/>
  </mappers>
</configuration>

